<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="goodsInfoManagerAction"
		class="com.fleaMarket.goodsInfoManager.action.GoodsInfoManagerAction"
		scope="prototype">
		<property name="goodsInfoManagerService"
			ref="goodsInfoManagerService"></property>
	</bean>
	<bean id="goodsInfoManagerService"
		class="com.fleaMarket.goodsInfoManager.service.impl.GoodsInfoManagerServiceImpl">
		<property name="goodsInfoManagerDao" ref="goodsInfoManagerDao"></property>
	</bean>
	<bean id="goodsInfoManagerDao"
		class="com.fleaMarket.goodsInfoManager.dao.impl.GoodsInfoManagerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

</beans>