<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="carouselManagerAction"
		class="com.fleaMarket.carouselManager.action.CarouselManagerAction"
		scope="prototype">
		<property name="carouselManagerService"
			ref="carouselManagerService"></property>
	</bean>
	<bean id="carouselManagerService"
		class="com.fleaMarket.carouselManager.service.impl.CarouselManagerServiceImpl">
		<property name="carouselManageDao" ref="carouselManageDao"></property>
	</bean>
	<bean id="carouselManageDao"
		class="com.fleaMarket.carouselManager.dao.impl.CarouselManagerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

</beans>